<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Category1</key>
	<dict>
		<key>name</key>
		<string>日記</string>
	</dict>
	<key>Category2</key>
	<dict>
		<key>name</key>
		<string>映画</string>
	</dict>
	<key>Category3</key>
	<dict>
		<key>name</key>
		<string>技術</string>
	</dict>
</dict>
</plist>
